/* Full elements */
body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.8;
    font-size: 18px;
    color: #444;
    padding: 0 10px;   
}
h1 {
    font-size: 48px;
}
h1, h2, h3 {
    line-height: 1;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
}
a {
    color: #628D9B;
    text-decoration: none;
}
hr {
    border: 0px solid #ccc;
    border-top-width: 1px;
    clear: both;
    height: 0px;
}
a:hover {
    text-decoration: underline;
}
footer {
    color: #777;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}
img+em {
    display: block;
    text-align: center;
    padding-top: 10px;
    line-height: 1.5;
}
table+em {
    display: block;
    text-align: center;
    padding-top: 10px;
    line-height: 1.5;
}
video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
}
table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}
table td {
    border: 1px solid #000;
    text-align: center;
    padding: 2px;
}

/* Classes */
.category {
    color: #4A7B74;
}
.itemselect {
    width: 100%;
    text-align: center;
}
.cell {
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.webtitle {
    font-family: 'Helvetica', sans-serif;
    color: #888;
    font-weight: 100;
    line-height: 1;
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
img.center {
    display: block;
    margin: 0 auto;
}
img.insert {
    display: block;
    margin: 0 auto;
    width: 50%;
}
img.plot {
    display: block;
    margin: 0 auto;
    width: 75%;
}
span.slightemph {
    color: #205160;
}
.socials {
    text-align: center;
    list-style: none;
}

.socials li {
    padding-top: 5px;
    padding-bottom: 5px;
}

span.lightemph {
    color: #333;
}
p.tagline {
    text-align: center;
    color: #666;
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
}
